.mano{
	cursor: pointer;
}
.botonSocial{
	font-size: 16px;
}
#menuPrincipal{
	transform: rotate(-45deg) ;
-webkit-transform: rotate(-45deg) ;
-moz-transform: rotate(-45deg) ;
-o-transform: rotate(-45deg) ;
-ms-transform: rotate(-45deg) ;
}